.brand {
  display: flex;
  justify-content: left;
}

.brand > h1 {
  margin: 0;
}

.logo {
  height: 10rem;
  width: 7rem;
  margin-right: 1rem;
  background-image: url("/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.terms {
  font-size: 0.7em;
}

button[data-playing="true"] {
  background-color: orangered;
}

button[data-playing="false"] {
  background-color: var(--light-primary);
}
