body {
  background-color: #051b3f;
  /* background-color: #f1ac0c; */
  color: white;
}

.brand {
  display: flex;
  justify-content: left;
  align-items: center;
}

.brand > h1 {
  margin: 0;
}

/* .brand > button {
  transform: scale(0.5em);
} */

#player-select {
  text-align: center;
  padding: 1em 3em;
}

th {
  color: #ffc433;
  border: none;
  padding: 1em 0;
}

.logo {
  height: 7rem;
  width: 100%;
  margin-right: 1rem;
  background-image: url("/tog-logo.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.admin-button {
  min-width: 9rem;
  background-color: #b98400;
  color: #031b3d;
}

.name {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  margin: 0;
  font-weight: bold;
}

tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

td {
  line-height: initial;
  border: none;
}

.timestamp, .total {
  font-size: 0.8em;
  text-align: left;
}

label {
  color: #82a0bf;
}

.terms {
  font-size: 0.7em;
}

button[data-playing="true"] {
  background-color: orangered;
}

button[data-playing="false"] {
  background-color: var(--light-primary);
}

.link {
  font-size: 0.8em;
}